<table style="width:100%; border:1px solid black; border-collapse: collapse;">
  <tr>
    <th colspan="2" style="text-align:center; background-color: #f2f2f2;">
      <b>Hello <%= credentials.name %>!</b>
    </th>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center;">
      Your WissKI Cloud Instance <a href="<%= credentials.domain %>"
        target="_blank"><%= credentials.domain %></a> is ready!
    </td>
  </tr>
  <tr>
    <td style="text-align:right; background-color: #f2f2f2;">
      <strong>User:</strong></td>
    <td style="text-align:left;"><%= credentials.user %></td>
  </tr>
  <tr>
    <td style="text-align:right; background-color: #f2f2f2;">
      <strong>Password:</strong></td>
    <td style="text-align:left;"><%= credentials.password %></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center;">
      Please alter your Password for security reasons. Have fun!
    </td>
  </tr>
</table>
